<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
 
    <header class="header-position">
        <%- include('../partials/admin-header'); %>
    </header>

    <main>

        <div>
            <h2>Bienvenue administrateur</h2>
        </div>
       
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>