
<!-- Début Banniere -->
        <!-- <img src="../images/banniere.jpg"  alt="banniere"/> -->
    <!-- Fin Banniere -->
    <!-- <nav class="nav-bar"> -->
        
        <!-- <a href="/">Accueil</a>
        <a href="/attractions">Attractions</a>
        <a href="/reservation">Réservations</a>
        <a href="/contact">Contact</a>
        <a href="/deconnexion">Deconnexion</a>
        <a href="/admin">Admin</a> -->

<header class="header">
    <nav class="nav-bar">
        <div class="nav-menu">
            <a href="/admin/edit-attraction">Modifier attractions</a>
            <a href="/admin/add-attraction">Ajout attraction</a>
            <a href="/admin/reservation">Voir réservations</a>
            <a href="/deconnexion">Déconnexion</a>
        </div>

    </nav>
</header>

    <!-- </nav> -->