
<div class="footer-container">
 
    <div class="location">
        <h3>Adresse du parc</h3>
        <ul>
            <li>Place du Capitole</li>
            <li>31 000 Toulouse</li>
            <li>France</li>
        </ul>
    </div>
    <div class="social-network">
        <a href="https://www.tiktok.com/fr/" target="blank"><img src="../..//images/tiktok.png" alt="logo tiktok"  title="logo_tiktok" class="logo"></a>
        <a href="https://www.instagram.com/?hl=fr" target="blank"><img src="../../images/instagram.png" alt="logo instagram" title="logo instagram" class="logo"></a>
        <a href="https://fr-fr.facebook.com/" target="blank"><img src="../../images/facebook.jpg" alt="logo facebook" title="logo facebook" class="logo"></a>
        <a href="https://twitter.com/?lang=fr" target="blank"> <img src="../../images/twitter.png" alt="logo twitter" title="logo twitter" class="logo"></a>
    </div>
    <div class="contact">
        <h3>Contact</h3>
        <ul>
            <li>Téléphone : XX XX XX XX XX</li>
            <li>Mail: xxxxxxxxxx@gmail.com</li>
            <li>De 9h à 18h</li>
        </ul>
    </div>
</div>