
<header class="header">
    <nav class="nav-bar">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="/attractions" class="nav-link">Attractions</a>
                </li>
                <li class="nav-item">
                    <a href="/reservation" class="nav-link">Réservations</a>
                </li>
                <li class="nav-item">
                    <a href="/connexion" class="nav-link">Connexion</a>
                </li>
            </ul>
        <!-- <a href="/" class="nav-item">Accueil</a>
        <a href="/attractions" class="nav-item">Attractions</a>
        <a href="/reservation" class="nav-item">Réservations</a>
        <a href="/connexion" class="nav-item">Connexion</a> -->
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </nav>
</header>