<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header class="header-position">
        <%- include('../partials/header'); %>
    </header>

    <main>

        <div>

            <h1 id="title">Bienvenue à FEAR LAND</h1>

            <h3>Présentation du parc</h3>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ante mi, vulputate ut tortor vel,
                viverra pellentesque turpis. Ut rhoncus dapibus nulla, in lobortis eros. Aenean sit amet risus ut leo
                sagittis luctus. Proin tincidunt vehicula turpis non fringilla. Praesent id dui id sem lobortis faucibus
                eget nec velit. Duis posuere magna ac elit blandit, sit amet tempus nibh elementum. Pellentesque
                pellentesque at mi ac volutpat. Praesent sagittis, tellus sit amet interdum tincidunt, massa ante
                maximus ex, vel dignissim mauris nisl non nunc. Aenean eget libero finibus, feugiat mi venenatis,
                iaculis urna. Donec est velit, ullamcorper et nulla congue, interdum semper lacus.

                Duis suscipit, est in tincidunt rhoncus, nulla nisl pellentesque justo, vel tincidunt enim dolor in
                mauris. Integer a luctus erat. Suspendisse sit amet ex condimentum, pellentesque libero sed, eleifend
                purus. Curabitur ornare, neque quis pellentesque placerat, nibh justo sagittis purus, sit amet dignissim
                eros lectus eu ipsum. Nullam mauris nulla, fringilla in eros ut, tempus fringilla arcu. Curabitur eget
                ex eu augue aliquet commodo. Phasellus lacinia sed risus fringilla porttitor. Nulla nunc sapien,
                eleifend eget ipsum in, semper blandit lorem. Phasellus ac lectus ut diam elementum suscipit non eu
                mauris. Phasellus at ante et erat vehicula pharetra. Nullam convallis ante quis ligula volutpat, vitae
                pharetra arcu elementum. Mauris malesuada velit at tellus pretium dignissim. Integer malesuada blandit
                turpis quis viverra. Donec sed lorem ut libero molestie pellentesque in a massa.
            </p>

            <h3>Formules du parc</h3>

            <div class="formule">
                <div class="formule-famille">
                    <img src="./images/hotel.jpg" alt="photo hotel">
                    <h6><strong>Inclusive</strong> Billets + Hôtel</h6>
                    <p>2 jours + 1 nuit à partir de 100€ / adulte</p>
                </div>
                <div class="formule-famille">
                    <img src="./images/malin.jpg" alt="photo malin">
                    <h6><strong>Malin</strong> Billets à prix réduits</h6>
                    <p>Offre limitée, billet à partir de 30€</p>
                </div>
                <div class="formule-famille">
                    <img src="./images/tribu.jpg" alt="photo groupe">
                    <h6><strong>Tribu</strong> Billets dégressifs</h6>
                    <p>Plus vous êtes nombreux et plus le prix du billet baisse</p>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>